body {
  background-color: lightblue;
  margin: 0;
}

header {
  top: 0;
  position: sticky;
  margin: 0;
}

h1 {
  text-align: center;
}

#topnav {
  display: flex;
  flex-direction: row;
  background: white;
  align-items: center;
  justify-content: center;
  z-index: 5;
  padding-right: 40px;
}

#topnav img {
  width: 90px;
  margin-top: -15;
  margin-bottom: 0;
  margin-left: 30px;
}

#topnav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  width: 25%;
  justify-content: flex-end;
  flex-basis: 90%;
  margin: 0;
  font-family: sans-serif;
}

#topnav li {
  padding-left: 25px;
}

#brandlist li a {
  text-decoration: none;
}

#brandlist li {
  list-style: none;
  border: red solid 3px;
  padding: 15px;
}

#brandlist {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 5fr));
  gap: 1rem;
  margin-right: 50px;
}
